*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
body {
	background-color: #2ee;
	font-family: 'Mali', cursive;

} 
.main {
	background-color: #fff;
	display:flex;
	width: 95%;
	max-width: 1000px;
	margin: auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
	flex-wrap: wrap;
}
.item {
	max-width: 490px;
	max-height: 265px;
	width: calc(90vw / 2 - 10px);
	height: calc(95vw / 2 / 16 * 9);
	/*margin: 5px;*/
	background-color: aqua;

	background-position: center;
	background-size: cover;
}

.heading {
	font-size: 48px;
	text-align: center;
	width: 100%;
	padding: 30px 0;
}

.img_link {
	display: block;
	opacity: 0.65;
	transition: opacity 0.4s ease, transform 0.2s ease-in;
	transform: 0.2s ease-in;
	box-shadow: 0.3 ease-out;
}


@media all and (max-width: 768px) {
	.item {
		max-height: initial;
        max-width: initial;
        width: 95vw;
        height: calc(95vw / 16 * 9);
	}
	.img_link {
		margin: 5px 0;
	}
}
@media all and (min-width: 1200px) {
	.img_link:hover {
		opacity: 1;
		transform: scale(1.2) rotate(5deg);
		z-index: 10;
		box-shadow: 0 0 200px 30px rgba(0 0, 0, 0.4);
	}
}

.link-wrapper {
	padding: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.author {
	color: #111;
	text-decoration: none;
	border bottom: 2px solid transparent;
	transition: 0.3s; 
}